# Private key dari wallet penyebar smart contract (Admin Utama / Super Admin)
# BISA DIKOSONGKAN JIKA HANYA DEPLOY DI LOCALHOST
PRIVATE_KEY="0000000000000000000000000000000000000000000000000000000000000000"

# URL RPC (Opsional, gunakan Alchemy/Infura untuk stabilitas)
AMOY_RPC_URL="https://rpc-amoy.polygon.technology/"
